@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Fjalla+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Serif Display', serif;
}
html{
    font-size: 62.5%;
}
.container-fluid{
    height: 100vh;
    /* background-color: rgb(133, 187, 188); */
}
.container-c{
    width: 65%;
    height: 85%;
    background-color: white;
    border-radius: 3rem;
    box-shadow: 1rem 1rem 4rem;
}
.left-part{
    width: 50%;
    height: 100%;
    /* background-color: yellow; */
    border-top-left-radius:3rem;
    border-bottom-left-radius: 3rem;
    background: url(perfume-img1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.right-part{
    width: 50%;
    height: 100%;
    border-top-right-radius:3rem;
    border-bottom-right-radius: 3rem;
}
.text-part{
    width: 85%;
    height: 90%;
    padding: 1rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
}
.text-part h5{
    font-size: 2rem;
    letter-spacing: 1rem;
    color: rgba(62, 61, 61, 0.612);
    font-weight: 900;
}
.text-part h1{
    font-size: 4.5rem;
    letter-spacing: 0.3rem;
    color: black;
    font-weight: 800;
}
.text-part p{
    font-size: 2.3rem;
    color: rgba(62, 61, 61, 0.612);
}
.text-part span{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text-part span h1{
    font-size: 4.5rem;
}
.text-part span p{
    font-size: 2rem;
}
.text-part button a{
    text-decoration: none;
}
.text-part button{
    width: 100%;
    height: 5rem;
    font-size: 1.8rem;
}


@media (max-width:900px) {
    html{
        font-size: 55%;
    }
}


/* Responsive */

@media (max-width:768px) {
    html{
        font-size: 40%;
    }
    .container-c{
        flex-direction: column;
        border-radius: 0rem;
    }
    .left-part{
        width: 100%;
        border-radius: 0rem;
    }
    .right-part{
        width: 100%;
        border-radius: 0rem;
    }
}


/* Responsive for Phone */


@media (max-width:430px) {
    html{
        font-size: 30%;
    }
    .container-fluid{
        border-radius: 2rem;
    }
    .left-part{
        width: 100%;
        /* height: 40%; */
    }
    .right-part{
        width: 90%;
        /* height: 60%; */
    }
    .text-part{
        width: 100%;
        /* height: 90%; */
    }
    
}
